{% extends 'base.html' %}

{% block head %}
<title>Buscando Candidatos</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Buscando Candidatos</h1>
     <h4 style="text-align: center">Ingresar el nombre </h4>
     <div class="form">
        <form action="/" method="POST">
            <input type="text" name="nombre" id="nombre" width="500">
            <input type="submit" value="Buscar">
        </form>
    </div>
    {% if candidatos|length < 1 %}
    <span>No se encontró al candidato</span>
    {% else %}
    <table>
        <tr>
              <th>partido</th>
              <th>nombre</th>
             <th>votos</th>
        </tr>
        {% for item in candidatos %}
            <tr>
                <td>{{ item.partido }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ (item.votos) }}</td>

            </tr>
        {% endfor %}
    </table>
    {% endif %}


</div>
{% endblock %}